

header 
{
  background-color: #979797;
  height: 2rem;
  position:absolute;
   top:0;
   width:100%;
  
}

body{ 

background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(186,65,65,1) 67%, rgba(252,176,69,1) 100%);
width: 100%;
}

footer 
{
  background-color: #979797;
  height: 2rem;
  position:absolute;
   bottom:0;
   width:100%;
  
}

#nav
{
  color: aliceblue;
}

#intoparagraph
{
  color: aliceblue;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif
}

table, th, td
{
  border:1px solid #bdbdbd;
  border-collapse: collapse;
  text-align:left;
  

}
.table-wrap {
  height: 222px;
  overflow-y: scroll;
  display: inline-block;
}

th{
  background-color: #dddddd;
}

th, td {

  padding: 10px;
  
  }
